.container {
    padding: 0 7vw;
    width: 100vw;
}
.reducedContainer {
    margin: 0 135px;
}

.filmBG {
    position: relative;
}

.filmBGgradient {
    position: absolute;
    background: 
    linear-gradient(180deg, rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%);
    width: 100%;
    z-index: -1;
}

.filmBGImg {
    width: 100%;
    z-index: -20;
}
