
footer{
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4vh;
}

.logo_net_cont {
    display: flex;
    gap: 15px;
}

.logo_net {
    padding: 10px;
    background-color: #1E2538;
    border-radius: 10px;
}

.logo_net:hover {
    background-color: #3657CB;
}

.a_foot{
    text-decoration-line: underline;
}